@{
    var area = ViewContext.RouteData.Values["area"]?.ToString().ToLower() ?? "";
    var page = ViewContext.RouteData.Values["page"]?.ToString().ToLower() ?? "";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Data.User> SignInManager
@inject UserManager<Data.User> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-white-50" asp-area="Config" asp-page="/Users/Details">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-danger "><b>Logout</b> <i class="fas fa-sign-out-alt"></i> </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item @(area=="register" ? "active": "")">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Signup">Register</a>
        </li>
        <li class="nav-item @(area=="identity" ? "active": "")">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Sign-in <i class="fa fa-sign-in-alt text-success"></i></a>
        </li>
    }
</ul>